<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aruntodo</title>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'style.css' %}">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <main class="layout">
        {% block header %}
        <header>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/todolist">Todo List</a></li>
                <li><a href="/finishedtodolist">Finished Todo</a></li>
                
            </ul>
            <ul>
                <li><a>{{user}}</a></li>
                <li><a href="{% url 'userauth:logout' %}">Logout</a></li>
            </ul>
        </header>
        {% endblock %}
        {% block body %}{% endblock %}
    </main>
</body>
</html>