{% extends "base.html" %}
{% block body %}



<div class="auth">
<h2>Add Todo</h2>

<form  method=post>
{% csrf_token %}
<div class="input-wrap">
    {{ form.title.errors }}
    <label>{{ form.title.label_tag}}</label>
    {{form.title}}
</div>

<div class="input-wrap">
    {{ form.description.errors }}
    <label>{{ form.description.label_tag}}</label>
    {{form.description}}
</div>

<div class="input-wrap">
    {{ form.target_at.errors }}
    <label>{{ form.target_at.label_tag}}</label>
    {{form.target_at}}
</div>

<div class="input-wrap">
    {{ form.is_finished.errors }}
    <label>{{ form.is_finished.label_tag}}</label>
    {{form.is_finished}}
</div>


<button class="btn-login">Submit</button>
</form>

</div>
{% endblock %}
