
{% extends "base.html" %}
{% block body %}
{% load static %}


 <div class="todo-list">
    <ul>
        <li><span>Name</span><span>Description</span><span>Target Time</span><span>Created At</span><span>Finished At</span><span>&nbsp;</span></li>
        {%for list in lists %}
        <li id="{{ list.id }}"><span>{{list.title}}</span><span>{{list.description}}</span><span>{{list.target_at}}</span><span>{{list.created_at}}</span>
        <span>{{list.finished_at}}</span>

         <span>
        
        
       

        <a href="{% url 'list:delete_todo'  list.id  %}"
        class="btn btn-primary btn-sm"
        role="button"><i class="fa fa-trash-o" aria-hidden="true"></i></a>

        <a href="{% url 'list:edit_todo'  list.id  %}"
            class="btn btn-primary btn-sm"
            role="button"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> 
        </span>

        </li>
        {%endfor%}

    </ul>
</div>

{% endblock %}